<div class = "header">
    <h1>
        AlphaBlog
        <%= link_to 'Home', root_path(), method: :get, class: "index-button-to" %>
    </h1>
</div>

<h2>Log in</h2>

<div class="form-container">

    <%# form_with working with scope because we have no instance variables in this situation %>
    <%= form_with(scope: :session, url: login_path, local: true) do |f| %> 

        <p>
            <%= f.label :email, style:"font-weight:bold" %>
            <br>
            <%= f.email_field :email, placeholder: "example@provider.com" %>
        </p>

        <p>
            <%= f.label :password, style:"font-weight:bold" %>
            <br>
            <%= f.password_field :password, placeholder: "Enter your password" %>
        </p>

        <p>
            <%= f.submit "Log In", style:"font-size:large;" %> 
        </p>

    <% end %>

    <%= button_to 'Cancel', articles_path, method: :get, style:"font-size:large" %>
</div>
