<%# taken from edit.html.erb because it contains @article in form_with scope and @article being an instance variable, 
makes edit.html.erb a better, more universal candidate for a partial %>

<%# this block displays the errors in case the new article has them, in a unordered list format %>
<% if @article.errors.any? %>
    <h2>The following errors prevented the article from being saved:</h2>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
        <% end %>
    </ul>
<% end %>

<%# This way of implementing forms_with makes sure we get the information for the fields from our existing instance variable %>
<%= form_with(model: @article, local: true) do |f| %> 

    <p>
        <%= f.label :title %>
        <br>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :description %>
        <br>
        <%= f.text_area :description %>
    </p>

    <p>
        <%= f.submit %>
    </p>
    
<% end %>
