<h1>Articles listing page</h1>
<hr>

<div class="index-container">
        <div class = "index-articles-grid">

            <%# cycle through all articles and show them all in a table %>
            <% @articles.each do |article| %>

                    <div class = "index-article-container">

                        <div class="index-article-user">
                            by <%= article.user.username if article.user %>
                        </div>

                        <div class="index-article-title">
                            <%= article.title %>
                        </div>

                        <div class="index-article-description">
                            <%= article.description %>
                        </div>

                        <div class="index-article-actions">
                            <%# shows selected article page %>
                            <%= link_to 'Show', article_path(article), class: "index-link-to show" %>
                            <%# shows selected article EDIT page. edit_article_path because in routes, the prefix for edit is edit_article && (article) because we need the id for the path as well%>
                            <%= link_to 'Edit', edit_article_path(article), data: { turbo_method: :get}, class: "index-link-to edit" %>
                            <%# 'link_to Action/link name, path, method: :action' creates a link to the page related to the action. article_path(article) is the same 
                            as article_path(article.id), but Ruby already knows because this is a path (articles/:id) %>
                            <%= link_to 'Delete', article_path(article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "index-link-to delete" %>
                        </div>

                        <div class="index-created-updated">
                            Created <%= time_ago_in_words(article.created_at) %> ago, 
                            updated <%= time_ago_in_words(article.updated_at) %> ago.
                        </div>

                    </div>

                <% end %>

        </div>
        <br>

    <div class="index-buttons-container">
        <%= button_to 'Create Article', new_article_path(), method: :get, class: "index-button-to"%>
        <br>
        <p style = "margin:5px"><%= button_to 'Back to Home Page', root_path(), method: :get, class: "index-button-to"%></p>
    </div>
</div>