<div class = "header">
    <h1>
        AlphaBlog
        <%# rendered specifically for this page due to 'Create Article' option %>
        <% if logged_in? %>
            <%= link_to 'Create Article', new_article_path(), method: :get, class: "index-button-to" %>
            <%= link_to 'Bloggers', users_path, method: :get, class: "index-button-to" %>
            <%= link_to current_user.username, user_path(current_user), method: :delete, style:"font-size:large; margin-bottom: 10px; color:cyan", class: "index-button-to" %>
            <%= link_to 'Log Out', logout_path, method: :delete, style:"font-size:large; margin-bottom: 10px", class: "index-button-to" %>
        <% else %>
            <%= link_to 'Home', root_path(), method: :get, class: "index-button-to" %>
            <%= link_to 'Bloggers', users_path, method: :get, class: "index-button-to" %>
            <%= link_to 'Sign Up', signup_path, method: :get, style:"font-size:large; margin-bottom: 10px", class: "index-button-to" %>
            <%= link_to 'Log In', login_path, method: :get, style:"font-size:large; margin-bottom: 10px", class: "index-button-to" %>
        <% end %>
    </h1>
</div>

<h2>Articles List</h2>
<%= render 'article' %>