<%# taken from edit.html.erb because it contains @article in form_with scope and @article being an instance variable, 
makes edit.html.erb a better, more universal candidate for a partial %>

<div class="form-container">
    <%# this block displays the errors in case the new article has them, in a unordered list format %>
    <% if @user.errors.any? %>
        <h2>The following errors prevented the article from being saved:</h2>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li> <%= msg %> </li>
            <% end %>
        </ul>
    <% end %>

    <%# This way of implementing forms_with makes sure we get the information for the fields from our existing instance variable %>
    <%= form_with(model: @user, local: true) do |f| %> 

        <p>
            <%= f.label :username, style:"font-weight:bold", placeholder: "Enter a username" %>
            <br>
            <%= f.text_field :username %>
        </p>

        <p>
            <%= f.label :email, style:"font-weight:bold" %>
            <br>
            <%= f.email_field :email, placeholder: "example@provider.com" %>
        </p>

        <p>
            <%= f.label :password, style:"font-weight:bold" %>
            <br>
            <%= f.password_field :password, placeholder: "Create a password" %>
        </p>

        <p>
            <%= f.submit style:"font-size:large" %>
        </p>
        
    <% end %>

    <%= button_to 'Cancel', articles_path, method: :get, style:"font-size:large" %>
</div>
