<div class = "header">
    <h1>
        AlphaBlog
        <% if logged_in? %>
            <%= link_to 'Articles', articles_path, method: :get, class: "index-button-to" %>
        <% else %>
            <%= link_to 'Home', root_path(), method: :get, class: "index-button-to" %>
            <%= link_to 'Articles', articles_path, method: :get, class: "index-button-to" %>
        <% end %>
        <%= render 'layouts/log_in_out_navigation'%>
    </h1>
</div>

<h2>Alpha Bloggers</h2>

<div class="index-container">
    <%# cycle through all articles and show them all in a table %>
    <% @users.each do |user| %>

        <div class = "index-article-container">

            <div class="index-article-user" style = "color:rgb(16, 136, 255);">
                <%= user.username %>
            </div>

            <div class="white">

                <div class="index-article-title">
                    <%= gravatar_for(user, size: 150) %>
                </div>

                <div class="index-article-description">
                    <%# gives the plural word for multiple articles %>
                    <%= pluralize(user.articles.count, "article") %>
                </div>

                <div class="index-article-actions">
                    <%# shows selected article page %>
                    <%= link_to 'View Profile', user, class: "index-link-to show" %>
                    <% if logged_in? && current_user.username == user.username %>
                        <%# shows selected article EDIT page. edit_article_path because in routes, the prefix for edit is edit_article && (article) because we need the id for the path as well%>
                        <%= link_to 'Edit Profile', edit_user_path(user), data: { turbo_method: :get}, class: "index-link-to edit" %>
                        <%= link_to 'Delete Profile', user_path(current_user), data: { turbo_method: :delete, turbo_confirm: "Are you sure? (This will also delete all of your articles)" }, class: "index-link-to delete" %>
                    <% end %>
                </div>
                        
            </div>
                        

            <div class="index-created-updated">
                Joined <%= time_ago_in_words(user.created_at) %> ago.
            </div>

        </div>
        
    <% end %>
</div>