<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# _messages.html.erb is a PARTIAL (for saving redundant code) and Rails recognizes its path without the need for the '_' before its name %>
    <%= render 'layouts/messages'%>
    <%= yield %>
  </body>
</html>
